/* Grid demo */

#grid-demo .panel {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#grid-demo .panel:nth-child(odd) {
    background: #F3F3F3;
}

#panel-tags {
    margin-top: 10px;
}

.footer-line {
  background: #eee;
}