#grid-demo .card {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#grid-demo .card:nth-child(odd) {
    background: #333;
    color: #fff;
}

#card-tags {
    margin-top: 10px;
}

#alert-list > * {
    margin-top: 10px;
}

.footer-line {
  background: #eee;
  color: #000;
}
